<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Podsumowanie zamówienia</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
              <th scope="col"> </th>
              <th scope="col" class="text-center">Nazwa</th>
              <th scope="col" class="text-center">Dostępność</th>
              <th scope="col" class="text-center">Zamówiona ilość</th>
              <th scope="col" class="text-right">Cena</th>
              <th scope="col" class="text-center">Edycja </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of getBasket()">
                  <td align="center"><img height="50px" src={{item.product.link}} /> </td>
                  <td align="center">{{item.product.name}}</td>
                  <td align="center">{{item.product.description}}</td>
                  <td align="center">{{item.amount}}</td>
                  <td class="text-right">{{getFullItemPrice(item)}} zł</td>
                  <td class="text-center">
                    <button id="addProduct" class="btn btn-sm btn-default" (click)="addProductToBasket(item.product)"><i class="fa fa-plus"></i> </button>
                    <button id="subtractProduct" class="btn btn-sm btn-default" (click)="removeProductFromBasket(item.product)"><i class="fa fa-minus"></i> </button>
                    <button id="removeItem" class="btn btn-sm btn-danger" (click)="removeItemFromBasket(item)"><i class="fa fa-trash"></i> </button>
                  </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Wartość zamówienia</td>
            <td class="text-right">{{getOrderPrice()}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button routerLink="/productList" class="btn btn-block btn-light">Kontynuuj zakupy</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button (click)="openFormModal()" class="btn btn-lg btn-block btn-success text-uppercase">Potwierdz zamówienie</button>
        </div>
      </div>
    </div>
  </div>
</div>
