<section class="jumbotron text-center" style="padding-top: 130px">
  <div class="container">
    <h1 class="jumbotron-heading">Rejestracja użytkownika</h1>
  </div>
</section>

<div class="container">
  <form class="form-horizontal" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>E-mail</label>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-at"></i>
            </div>
            <input type="email" name="price-enter" class="form-control"
                   id="price-input" required
                   [(ngModel)]="email"
                   formControlName="email" [ngClass]="{ 'is-invalid': submitted && c.email.errors }">
          </div>
        </div>
      </div>
      <div *ngIf="submitted && c.email.errors" class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Niepoprawny email
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>Hasło</label>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" name="price-enter" class="form-control"
                   id="amount-input" required
                   [(ngModel)]="password"
                   formControlName="password" [ngClass]="{ 'is-invalid': submitted && c.password.errors }">
          </div>
        </div>
      </div>
      <div *ngIf="submitted && c.password.errors" class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Niepoprawne hasło
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>Powtórz hasło</label>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
            </div>
            <input type="password" name="price-enter" class="form-control"
                   id="password-repeat" required
                   [(ngModel)]="rePassword"
                   formControlName="rePassword" [ngClass]="{ 'is-invalid': submitted && c.rePassword.errors }">
          </div>
        </div>
      </div>
      <div *ngIf="submitted && c.rePassword.errors" class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Hasła nie są takie same
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>Imię i nazwisko</label>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-font"></i>
            </div>
            <input type="text" name="price-enter" class="form-control"
                   id="username" required
                   [(ngModel)]="username"
                   formControlName="username" [ngClass]="{ 'is-invalid': submitted && c.username.errors }">
          </div>
        </div>
      </div>
      <div *ngIf="submitted && c.username.errors" class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Niepoprawna nazwa użytkownika
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label>Adres odbiorcy</label>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-address-card"></i>
            </div>
            <input type="text" name="price-enter" class="form-control"
                   id="address" required
                   [(ngModel)]="address"
                   formControlName="address" [ngClass]="{ 'is-invalid': submitted && c.address.errors }">
          </div>
        </div>
      </div>
      <div *ngIf="submitted && c.address.errors" class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Niepoprawny adres
                        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button (click)="register()" type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Zarejestruj się</button>
      </div>
    </div>
  </form>
</div>
