<header>
  <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container d-flex justify-content-between">
      <div>
        <a href="#" class="navbar-brand d-flex align-items-center">
          <i class="fa fa-home"> <strong>Strona główna</strong></i>
        </a>
      </div>
      <div>
        <a routerLink="/productList" class="navbar-brand d-flex align-items-center">
          <i class="fa fa-list-ul">  Lista produktów</i>
        </a>
      </div>
      <div *ngIf="isRole('ADMIN')">
        <a routerLink="/adminPanel" class="navbar-brand d-flex align-items-center">
          <i class="fa fa-shield">  Panel administracyjny</i>
        </a>
      </div>
      <div *ngIf="isRole('CUSTOMER');">
        <a routerLink="/checkout" class="btn btn-primary">
          <i class="fa fa-shopping-cart"></i>
          Koszyk
          <span class="badge badge-light">{{countBasketAmount()}}</span>
        </a>
      </div>
      <div *ngIf="!isSignedIn();">
        <button class="btn btn-success my-2" (click)="openLoginModal()">Zaloguj się</button>
      </div>
      <div *ngIf="isSignedIn();">
        <button class="btn btn-success my-2" (click)="signOut()"><i class="fa fa-power-off"></i> Wyloguj się</button>
      </div>
    </div>
  </div>
</header>
