<section class="jumbotron text-center pagination-dare">
  <div class="container">
    <br/>
    <h1 class="jumbotron-heading">Zamówienia</h1>
  </div>
</section>

<div class="btn-group mb-4 center" role="group" aria-label="Basic example">
  <button type="button" (click)="filterStatus('NOT_REALISED')" class="btn btn-secondary">Niezrealizowane</button>
  <button type="button" (click)="filterStatus('IN_PROGRESS')" class="btn btn-warning">W trakcie realizacji</button>
  <button type="button" (click)="filterStatus('REALISED')" class="btn btn-success">Zrealizowane</button>
</div>

<div class="container mb-4" *ngIf="isRole('ADMIN') || isRole('OPERATOR')">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="text-center">Nr zamówienia</th>
            <th scope="col" class="text-center">Dane klienta</th>
            <th scope="col" class="text-center">Adres</th>
            <th scope="col" class="text-right">Zamówione produkty</th>
            <th scope="col" class="text-center" *ngIf="!isRealised()" >Realizacja</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders | async" (click)="openSingleItemModal(order)">
            <td align="center">{{order.id}}  </td>
            <td align="center">{{order.username}}</td>
            <td align="center">{{order.address}}</td>
            <td align="center">{{getOrderItemNames(order)}}</td>
            <td class="text-center" *ngIf="!isRealised()">
              <button id="realizeOrder" class="btn btn-sm btn-success" (click)="realizeOrder(order)"><i class="fa fa-check"></i> </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
