<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Lista produktów do realizacji</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col" class="text-center"></th>
              <th scope="col" class="text-center">Ilość</th>
              <th scope="col" class="text-center">Nazwa</th>
              <th scope="col" class="text-right">Zrealizowano</th>
              <th scope="col" class="text-center">Realizuj</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items">
              <td align="center"><img height="50px" src={{item.orderItem.product.link}} />  </td>
              <td align="center">{{item.orderItem.amount}}  </td>
              <td align="center">{{item.orderItem.product.name}}</td>
              <td align="center">{{item.isRealised}}</td>
              <td class="text-center">
                <button id="realizeOrder" [disabled]="item.isRealised" class="btn btn-sm btn-success" (click)="item.isRealised = true"><i class="fa fa-check"></i> </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button (click)="updateOrder()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Zapisz zamówienie</button>
      </div>
    </div>
  </div>
</div>
