<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Dodawanie promocji do produktu</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container">
    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="id">Identyfikator</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-fingerprint"></i></div>
              <output class="form-control" id="id">{{product.id}}</output>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="name">Nazwa</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-font"></i></div>
              <output class="form-control" id="name">{{product.name}}</output>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="percentage">Wartość procentowa</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-percent"></i></div>
              <input type="number" class="form-control" id="percentage"
                     [(ngModel)]="product.promotion.percentage" [ngModelOptions]="{standalone: true}"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="expirationDate">Data wygaśnięcia</label>
        </div>
        <div class="col-md-8">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
              <input type="text" placeholder="yyyy-mm-dd HH:MM" id="expirationDate" ngbDatepicker #d="ngbDatepicker"
                     [(ngModel)]="product.promotion.expirationDate" [ngModelOptions]="{standalone: true}"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
              </div>
              <
              <!--<input type="text" ngbDatepicker #d="ngbDatepicker"/>-->
              <!--<ngb-datepicker class="form-control" id="expirationDate" required="required"-->
                          <!--[(ngModel)]="product.promotion.expirationDate" [ngModelOptions]="{standalone: true}"></ngb-datepicker>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button (click)="addPromotion()" type="submit" class="btn btn-success"><i class="fa fa-gift"></i> Dodaj promocję</button>
        </div>
      </div>
    </form>
  </div>
</div>
