<main role="main" class="productList">
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ngx-select-dropdown [config]="{placeholder:'Kategorie',
                                            moreText: 'więcej',
                                            noResultsFound: 'Brak więcej kategorii',
                                            displayKey:'category'}"
                                 [options]="categories"
                                 [(value)]="selectedCategories"
                                 (change)="filterProductList()"
                                 [multiple]="true" ></ngx-select-dropdown>
          </div>
          <div class="col-md-4">
            <input style="width: 80%" (input)="filterProductList()" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
            </span>
          </div>
          <div class="col-md-4">
            <ngx-select-dropdown [options]="pageSizes"
                                 [config]="{placeholder:'Ilość wyników na stronie'}"
                                 [(value)]="pageSize" [multiple]="false" ></ngx-select-dropdown>
          </div>
        </div>
      <br/>
      <div class="row">
        <app-product class="col-md-4"
                     [product]="product"
                     *ngFor="let product of filteredProductList"
                     (remove)="removeEventListener($event)"
                     (subtract)="subtractEventListener($event)"
                     (add)="addEventListener($event)"
        ></app-product>
      </div>


      <div class="row" >
        <ngb-pagination class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col--noPadding" [collectionSize]="allSize" [pageSize]="pageSize" (pageChange)="setPage($event)" [(page)]="pager.currentPage" aria-label="Default pagination"></ngb-pagination>
      </div>
    </div>
  </div>


</main>
