<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Dodawanie nowego produktu</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" role="form">
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="id">Identyfikator</label>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-fingerprint"></i></div>
              <input type="text" name="name"  class="form-control" id="id"
                     placeholder="ID" [(ngModel)]="product.id"
                     formControlName="id" [ngClass]="{ 'is-invalid': submitted && c.id.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.id.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-right">
                            Niepoprawny ID
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="name">Nazwa</label>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-font"></i></div>
              <input type="text" name="name" class="form-control" id="name"
                     placeholder="Nazwa produktu"  formControlName="name" required autofocus
                     [(ngModel)]="product.name"
                     [ngClass]="{ 'is-invalid': submitted && c.name.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.name.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Niepoprawna nazwa
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="desc">Opis</label>
        </div>
        <div class="col-md-5">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-align-left"></i></div>
              <input type="text" name="desc" formControlName="description" class="form-control" id="desc"
                     placeholder="..." required
                     [(ngModel)]="product.description"
                     [ngClass]="{ 'is-invalid': submitted && c.description.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.description.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Brak opisu
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="category">Kategoria</label>
        </div>
        <div class="col-md-5">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-filter"></i></div>
              <input type="text" name="category" formControlName="category" class="form-control" id="category"
                     placeholder="..." required="required"
                     [(ngModel)]="product.category"
                     [ngClass]="{ 'is-invalid': submitted && c.category.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.category.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Niepoprawna kategoria
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="link">Zdjęcie</label>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-image"></i>
              </div>
              <input type="text" name="password-confirmation" formControlName="link"  class="form-control"
                     id="link" placeholder="Link..."
                     [(ngModel)]="product.link"
                     [ngClass]="{ 'is-invalid': submitted && c.link.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.link.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Brak linku
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="price">Cena</label>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-money"></i>
              </div>
              <input type="number" name="price-enter" class="form-control"
                     id="price" required formControlName="price"
                     [(ngModel)]="product.price"
                     [ngClass]="{ 'is-invalid': submitted && c.price.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.price.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Niepoprawna cena
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="amount">Dostępność</label>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-archive"></i>
              </div>
              <input type="number" name="price-enter" class="form-control"
                     id="amount" formControlName="amount"
                     [(ngModel)]="product.amount"
                     [ngClass]="{ 'is-invalid': submitted && c.amount.errors }">
            </div>
          </div>
        </div>
        <div *ngIf="submitted && c.amount.errors" class="col-md-4">
          <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Niepoprawna dostępność
                        </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <button (click)="createProduct()" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj produkt</button>
        </div>
      </div>
    </form>
  </div>
</div>
