<div class="card mb-4 shadow-sm">
  <img class="card-img-top" data-src={{product.link}} alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{product.name}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="addToBasket(product)" class="btn btn-sm btn-outline-secondary">Dodaj do koszyka</button>
        <button type="button" (click)="subtractFromBasket(product)" class="btn btn-sm btn-outline-secondary">Usuń z koszyka</button>
        <button type="button" (click)="removeFromList(product)" class="btn btn-sm btn-outline-secondary">Usuń z listy</button>
      </div>
      <small class="text-muted">{{product.description}}</small>
    </div>
  </div>
</div>
