<div class="card mb-4 shadow-sm">
  <img class="card-img-top" style='object-fit: contain' height="300px" data-src={{product.link}} alt={{product.description}}>
  <div class="card-body">
    <p class="card-text">{{product.name}}<br/>
      <small class="text-muted">{{product.description}}</small>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="addToBasket(product)" class="btn btn-sm btn-outline-secondary">Dodaj do koszyka</button>
        <button type="button" (click)="subtractFromBasket(product)" class="btn btn-sm btn-outline-secondary">Usuń z koszyka</button>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="addToList(product)" class="btn btn-sm btn-outline-secondary">Dodaj do listy</button>
        <button type="button" (click)="removeFromList(product)" class="btn btn-sm btn-outline-secondary">Usuń z listy</button>
      </div>
    </div>
    <div class="text-nowrap" >
      <p class="text-right text-primary">{{product.price}}</p>
    </div>
  </div>
</div>
