/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.pagination{
    float: left;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.pagination-dare{
  padding-top: 130px;
}

.center{
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}
